* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*variables*/
/* GENERAL */
/* HEADER */
header {
  background-color: pink;
  font-family: "Courier New", Courier, monospace;
}

.container {
  margin: auto;
  width: 80%;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra {
  background-color: pink;
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: right;
  padding: 0;
}

.lista-nav {
  padding: 20px;
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 0;
}
.lista-nav li {
  display: inline;
  margin-left: 20px;
}
.lista-nav__link {
  padding: 5px;
  color: red;
  text-decoration: none;
}
.lista-nav__link:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* MAIN */
main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  background: linear-gradient(rgba(255, 192, 203, 0.7), rgba(173, 216, 230, 0.7));
}

.titulo-principal {
  width: 100%;
  color: #ad7a99;
  text-align: center;
  font-size: 4rem;
  font-family: "Chicle", cursive;
  padding: 3rem 0;
}

/* FOOTER */
footer {
  background-color: lightblue;
  margin-bottom: 0;
  filter: brightness(95%);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

@media (max-width: 990px) {
  .logo {
    align-self: flex-start;
  }
}
/* INDEX */
#texto {
  display: inline;
  text-align: left;
}

.subtitulo {
  font-size: 2.5rem;
}

#parrafo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
}

#img {
  margin: 20px;
  display: inline;
}

.valores {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.titulo-valores {
  font-size: 2.5rem;
  font-weight: bolder;
}

.lista-de-valores {
  font-size: 1.5rem;
  list-style-type: none;
}

/* ADOPTAR */
.card {
  display: inline-block;
  background-color: #dfdfdf;
  border: 1px solid black;
  width: 25%;
  margin-bottom: 2rem;
  transition: scale 500ms;
  padding: 0;
}

.card__titulo {
  font-weight: 700;
  text-transform: uppercase;
}

.card:hover,
.card:focus {
  scale: 1.05;
  z-index: 1;
}

/*ADOPTAR MASCOTA EN PARTICULAR */
.info_mascota {
  margin: 2rem;
  display: flex;
  align-items: center;
}

#foto-mascota {
  box-shadow: 15px 15px 40px grey;
}

#texto-mascota {
  margin-left: 2.5rem;
  width: 100%;
}

#nombre-mascota {
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
}

#informacion-mascota {
  font-size: 1.5rem;
  list-style-type: none;
}

@media (max-width: 700px) {
  .info_mascota {
    display: block;
  }

  #texto-mascota {
    margin-left: 0;
  }
}
.mapa {
  text-align: center;
}

.titulo-lugar-de-encuentro {
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 3rem;
}

.cuerpo-adoptar {
  font-family: "Poppins", sans-serif;
}

/*Contacto */
form {
  text-align: center;
}

fieldset {
  margin: 20px auto;
  padding: 20px;
}
fieldset label {
  margin: 5px;
}

.input {
  margin: 20px;
}
.input__texto {
  padding: 0.4rem;
  border-radius: 1rem;
}
.input__seleccion {
  width: 20%;
  border-radius: 1rem;
  padding: 0.4em;
}
.input__textarea {
  width: 60%;
  min-width: 30%;
  padding: 0.4rem;
  border-radius: 1rem;
}

#enviar {
  padding: 0.5rem;
  border: 1px black solid;
  border-radius: 1rem;
  transition: all 350ms;
}

/*NOSOTROS*/
.grid-nosotros {
  display: grid;
  align-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-areas: "foto1 texto1" "texto2 foto2" "foto3 texto3";
}

.texto1 {
  grid-area: texto1;
}

.texto2 {
  grid-area: texto2;
}

.texto3 {
  grid-area: texto3;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

@media (max-width: 1050px) {
  .grid-nosotros {
    grid-template-areas: "foto1" "texto1" "foto2" "texto2" "foto3" "texto3";
  }

  .texto1 {
    justify-self: center;
  }

  .texto2 {
    justify-self: center;
  }

  .texto3 {
    justify-self: center;
  }

  .foto1 {
    justify-self: center;
  }

  .foto2 {
    justify-self: center;
  }

  .foto3 {
    justify-self: center;
  }
}
/* ICONOS */
/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
  width: 1.2em;
  height: 1.2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}

/*# sourceMappingURL=style.css.map */
