/*ADOPTAR MASCOTA EN PARTICULAR */

.info_mascota {
  margin: 2rem;
  display: flex;
  align-items: center;
}

#foto-mascota {
  box-shadow: 15px 15px 40px grey;
}

#texto-mascota {
  margin-left: 2.5rem;
  width: 100%;
}

#nombre-mascota {
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
}

#informacion-mascota {
  font-size: 1.5rem;
  list-style-type: none;
}

@media (max-width: 700px) {
  .info_mascota {
    display: block;
  }

  #texto-mascota {
    margin-left: 0;
  }
}

.mapa {
  text-align: center;
}

.titulo-lugar-de-encuentro {
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 3rem;
}

.cuerpo-adoptar {
  font-family: $fuente-cuerpo;
}
