/*ADOPTAR MASCOTA EN PARTICULAR */

.info_mascota {
  margin: 2rem;
  display: flex;
  align-items: center;
}

#foto-mascota {
  box-shadow: 15px 15px 40px grey;
}

#texto-mascota {
  margin-left: 2.5rem;
  width: 100%;
}

#informacion-mascota {
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .info_mascota {
    display: block;
  }

  #texto-mascota {
    margin-left: 0;
  }
}
