/*ADOPTAR MASCOTA EN PARTICULAR */
#foto-mascota {
  box-shadow: 15px 15px 40px black;
}

#info_mascota {
  margin: 1rem;
  display: flex;
  align-items: center;
}

#texto-mascota {
  margin-left: 2.5rem;
  width: 100%;
}

#informacion-mascota {
  font-size: 1.5rem;
}
