/*Contacto */
form {
  text-align: center;
}

fieldset {
  margin: 1rem auto;
  padding: 1rem;

  label {
    margin: 5px;
  }
}

.input {
  margin: 1rem;

  &__texto {
    padding: 0.4rem;
    border-radius: 1rem;
  }

  &__seleccion {
    width: 20%;
    border-radius: 1rem;
    padding: 0.4em;
  }

  &__textarea {
    width: 80%;
    min-width: 30%;
    padding: 0.4rem;
    border-radius: 1rem;
  }
}

#enviar {
  padding: 0.5rem;
  border: 1px black solid;
  border-radius: 1rem;
  transition: all 350ms;
}

.container-responsive {
  width: 100%;
}

fieldset {
  width: 100%;
}

@media (max-width: 400px) {
  .input__textarea {
    width: 100%;
  }
}
