/*Contacto */
form {
  text-align: center;
}

fieldset {
  margin: 20px auto;
  padding: 20px;

  label {
    margin: 5px;
  }
}

.input {
  margin: 20px;

  &__texto {
    padding: 0.4rem;
    border-radius: 1rem;
  }

  &__seleccion {
    width: 20%;
    border-radius: 1rem;
    padding: 0.4em;
  }

  &__textarea {
    width: 60%;
    min-width: 30%;
    padding: 0.4rem;
    border-radius: 1rem;
  }
}

#enviar {
  padding: 0.5rem;
  border: 1px black solid;
  border-radius: 1rem;
  transition: all 350ms;
}
