* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*variables*/
$color-h1: #ad7a99;
$modo: light;

/* GENERAL */
header {
  @if $modo == dark {
    background-color: rgb(145, 110, 116);
    color: white;
  } @else {
    background-color: pink;
  }
  transition: transform 500ms;
  font-family: "Courier New", Courier, monospace;
}

header:hover {
  transform: scale(1.05, 1.05);
}

.container {
  margin: auto;
  width: 80%;
}

.navegacion {
  display: flex;
}

.barra {
  background-color: pink;
}

.lista-nav {
  padding: 20px;
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 0;

  li {
    display: inline;
    margin-left: 20px;
  }

  &__link {
    padding: 5px;
    color: red;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  @if $modo == dark {
    background: linear-gradient(rgba(126, 91, 97, 0.7), rgba(66, 84, 90, 0.7));
  } @else {
    background: linear-gradient(
      rgba(255, 192, 203, 0.7),
      rgb(173, 216, 230, 0.7)
    );
  }
}

footer {
  @if $modo == dark {
    background-color: rgb(106, 134, 143);
  } @else {
    background-color: lightblue;
  }

  margin-bottom: 0;
  padding: 0.5rem;
  filter: brightness(95%);
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .logo {
    align-self: flex-start;
  }
}
