* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL */
header {
  background-color: pink;
  transition: transform 500ms;
  font-family: "Courier New", Courier, monospace;
}

header:hover {
  transform: scale(1.05, 1.05);
}

.container {
  margin: auto;
  width: 80%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-nav {
  padding: 20px;
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 0;

  li {
    display: inline;
    margin-left: 20px;
  }

  &__link {
    padding: 5px;
    color: red;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

#logo {
  margin: 10px;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(
    rgba(255, 192, 203, 0.7),
    rgb(173, 216, 230, 0.7)
  );
}

footer {
  background-color: lightblue;
  margin-bottom: 0;
  padding: 0.5rem;
  filter: brightness(95%);
}

.footer {
  display: flex;
  justify-content: space-between;
}
