/* INDEX */
#texto {
  display: inline;
  text-align: left;
}

#subtitulo {
  font-size: 30px;
}

#parrafo {
  font-size: 20px;
  line-height: 2rem;
  font-family: $fuente-cuerpo;
}

#img {
  margin: 20px;
  display: inline;
}
