/* INDEX */
.titulo-principal {
  width: 100%;
  color: #ad7a99;
  text-align: center;
  font-size: 4rem;
  font-family: "Chicle", cursive;
  padding-bottom: 1rem;
}

#texto {
  display: inline;
  text-align: left;
}

#subtitulo {
  font-size: 30px;
}

#parrafo {
  font-size: 20px;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
}

#img {
  margin: 20px;
  display: inline;
}
