/*NOSOTROS*/
.grid-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-areas:
    "foto1 texto1"
    "texto2 foto2"
    "foto3 texto3";
}

.texto1 {
  grid-area: texto1;
}

.texto2 {
  grid-area: texto2;
}

.texto3 {
  grid-area: texto3;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

@media (max-width: 1050px) {
  .grid-nosotros {
    grid-template-areas:
      "foto1"
      "texto1"
      "foto2"
      "texto2"
      "foto3"
      "texto3";
  }
  .texto1 {
    justify-self: center;
  }

  .texto2 {
    justify-self: center;
  }

  .texto3 {
    justify-self: center;
  }

  .foto1 {
    justify-self: center;
  }

  .foto2 {
    justify-self: center;
  }

  .foto3 {
    justify-self: center;
  }
}
